<h1>Emails#index</h1>
<p>Find me in app/views/emails/index.html.erb</p>
<br>

<%= button_to "Recevoir un email", emails_path ,method: :post,remote: true, class: "btn btn-primary"%>

<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Liste des emails</th>
      <th scope="col">Email sélectionné</th>
    </tr>
     <% @emails.each do |email| %>
    <tr>
        <div class="container h-100 w-100">
        <strong><%=email.object%> <i class="fas fa-reply"></i></strong>
        </div>
    </tr>
    <%end%>
    
  </thead>
  <tbody id="tableau">
 
  </tbody>
</table>

